@model NS.BLOGMGMT.Data.Entities.User

@section Scripts {
   @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

@{
    ViewData["Title"] = "Clean Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead")">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="site-heading">
                  <h1>Clean Blog</h1>
                  <span class="subheading">Your Profile</span>
              </div>
          </div>
      </div>
  </div>
</header>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class="form w-50 m-auto"}))
{
  @Html.HiddenFor(model=>model.UserId, htmlAttributes:new { @class = "form-label fw-bold" })
  <div class="d-grid gap-3 d-md-block row justify-content-center">
    <div>
      <h3>UserName :</h3>
      @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })  
    </div>
    <div>
      <h3>Phone Number :</h3>
      @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })  
    </div>
    <div>
      <h3>Email : </h3>
      @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })  
    </div>
    <input type="submit" value="Update" class="btn btn-primary" />
    <a asp-controller="User" asp-action="Profile" class="btn btn-secondary">Back to Profile</a>
  </div>
}
<hr>
